<div style="width:100%; border:1 px solid #000033; padding-bottom:50px">
	<div style="float:left; margin-left:80px"><%= image_tag "profilePlaceholder.png", :size => "580x250" %></div>

	<div style="float:right; margin-right:80px"><%= image_tag "savedJobsPlaceholder.png", :size => "400x200" %>
	</div>
	
</div>
<table style="width:100%; font-weight: bold; font-size: 30px; color:#778899; margin:40px; padding:40px; clear:both; text-align:center; font-size:40px">
	<tr>
		<td width="40%" class="textAlignLeft" style="font-size:40px">YOU</td>
		<td width="3%" class="textAlignLeft" style="font-size:40px">+</td>
		<td class="textAlignLeft" style="font-size:40px">YOUR DREAM JOBS</td>
	</tr>
</table>
<div style="font-weight: bold; font-size: 30px; color:#778899; margin:40px; padding:10px; clear:both; text-align:center; line-height:36px">
		Customize your resume, expand your options!  
</div>
<div style="width:100%; text-align:center; margin:10px 300px 10px 500px"><a class="button-link" href="Authlinks/link">
			<div class="action-button">
			<div class="button-logo"></div>
			<span class="button-text">Sign in with LinkedIn</span>
			</div>
		</a></div>