<div class="splash">
<div style="width:100%; border:1 px solid #000033; padding-bottom:50px">
	<div style="float:left; margin-left:80px"><%= image_tag "profilePlaceholder.png", :size => "580x250" %></div>

	<div style="float:right; margin-right:80px"><%= image_tag "savedJobsPlaceholder.png", :size => "400x200" %>
	</div>
	
</div>
<table cellpadding="30px" style="width:100%; font-weight: bold; font-size: 30px; color:#778899; margin:40px 40px 10px 40px; padding:40px; clear:both; text-align:center; font-size:40px">
	<tr>
		<td width="20%" class="textAlignLeft txtBanner">You</td>
		<td width="3%" class="textAlignLeft txtBanner">+</td>
		<td width="35%" class="textAlignLeft txtBanner">Your dream jobs</td>
        <td width="3%" class="textAlignLeft txtBanner">+</td>
        <td class="textAlignLeft txtBanner" style="text-align:left">CustomizeR</td>
	</tr>
</table>
</div>
<div style="font-weight: bold; font-size: 30px; color:#778899; margin:0 40px 0 40px; padding:10px; clear:both; text-align:center; line-height:36px">
		Customize your resume,<i> expand your options!</i>
</div>
<div style="width:100%; text-align:center; margin:0 300px 10px 500px"><a class="button-link" href="Authlinks/link">
			<div class="action-button">
			<div class="button-logo"></div>
			<span class="button-text">Sign in with LinkedIn</span>
			</div>
		</a></div>