<!DOCTYPE html>
<html>
<head>
  <title>Customizer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="headerLogo" style="margin-top:0px">
    <span style="float: left;font-size: 28px;font-weight: bold; margin-top:-30px">CustomizeR</span>
    <!-- <div style="color:#778899; font-size:1.3em"></div>-->
  </div> 
<div class="mainContent" style="margin-top:30px">
<%= yield %>
</div>

</body>
</html>
